@import 'base';
@import 'vendor/normalize';
@import 'variables/colors';
@import 'variables/fonts';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $blackB2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
