/**
 * Colors
 */
$black: #000000;
$blackB: #111111;
$blackB1: #333333;
$blackB2: #222222;
$blackB3: #252525;
$blackC: #353D45;

$white: #FFFFFF;
$whiteB: #F0F0E1;
$whiteC: #D7D7CC;
$whiteD: #EDEDED;

$nf-white: #B2B2B2;
$nf-whiteB: #D0D0D0;

$nf-black: #E5E5E5;

$green: #BCF364;
$action: #FE3554;
$actionB: #DFEC9B;

$dashboard: #353D45;
$project: #00A1CA;
$user: #515D8A;
$collection: #02B387;

$project-bar: #00CA97;
$dashboard-card: #D12727;
$colo-arrow-box: #363E46;

$contributions: #7480AD;
$likes: #B39D02;

$danger: #A94442;
